@model QCapp.Models.SchemaViewModel.CompanyViewModel

@{
    ViewData["Title"] = (Model.CompanyId == null ? "Add Company" : "Update Company");
    Layout = "~/Views/Shared/_LayoutIn.cshtml";
}

<form asp-action="Create" novalidate>

    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.CompanyName)<span class="required">*</span></label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control" name="@Html.DisplayNameFor(model => model.CompanyName)" placeholder="" required="required" />
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.CompanyCode)</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control" name="@Html.DisplayNameFor(model => model.CompanyCode)" placeholder="" />
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.CompanyAddressLine1)</label>
        <div class="col-md-6 col-sm-6">
            <textarea class="form-control" name="@Html.DisplayNameFor(model => model.CompanyAddressLine1)" placeholder=""></textarea>
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.CompanyAddressLine2)</label>
        <div class="col-md-6 col-sm-6">
            <textarea class="form-control" name="@Html.DisplayNameFor(model => model.CompanyAddressLine2)" placeholder=""></textarea>
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.CompanyAddressCountryName)</label>
        <div class="col-md-6 col-sm-6">
            <select name="@Html.DisplayNameFor(model => model.CompanyAddressCountryName)" class="form-control">
                <option value="">Choose..</option>
                <option value="press">Press</option>
                <option value="net">Internet</option>
                <option value="mouth">Word of mouth</option>
            </select>
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.CompanyAddressStateName)</label>
        <div class="col-md-6 col-sm-6">
            <select name="@Html.DisplayNameFor(model => model.CompanyAddressStateName)" class="form-control">
                <option value="">Choose..</option>
                <option value="press">Press</option>
                <option value="net">Internet</option>
                <option value="mouth">Word of mouth</option>
            </select>
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.CompanyAddressCityName)</label>
        <div class="col-md-6 col-sm-6">
            <select name="@Html.DisplayNameFor(model => model.CompanyAddressCityName)" class="form-control">
                <option value="">Choose..</option>
                <option value="press">Press</option>
                <option value="net">Internet</option>
                <option value="mouth">Word of mouth</option>
            </select>
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.CompanyAddressZip)</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control" name="@Html.DisplayNameFor(model => model.CompanyAddressZip)" placeholder="" />
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.CompanyEmailAddress)</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control email" name="@Html.DisplayNameFor(model => model.CompanyEmailAddress)" type="email" />
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.BillingAdressSameAsCompany)</label>
        <div class="col-md-6 col-sm-6">
            <div class="">
                <label>
                    <input name="@Html.DisplayNameFor(model => model.BillingAdressSameAsCompany)" type="checkbox" class="js-switch" />
                </label>
            </div>
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.BillingAddressLine1)</label>
        <div class="col-md-6 col-sm-6">
            <textarea class="form-control" name="@Html.DisplayNameFor(model => model.BillingAddressLine1)" placeholder=""></textarea>
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.BillingAddressLine2)</label>
        <div class="col-md-6 col-sm-6">
            <textarea class="form-control" name="@Html.DisplayNameFor(model => model.BillingAddressLine2)" placeholder=""></textarea>
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.BillingAddressCountryName)</label>
        <div class="col-md-6 col-sm-6">
            <select name="@Html.DisplayNameFor(model => model.BillingAddressCountryName)" class="form-control">
                <option value="">Choose..</option>
                <option value="press">Press</option>
                <option value="net">Internet</option>
                <option value="mouth">Word of mouth</option>
            </select>
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.BillingAddressStateName)</label>
        <div class="col-md-6 col-sm-6">
            <select name="@Html.DisplayNameFor(model => model.BillingAddressStateName)" class="form-control">
                <option value="">Choose..</option>
                <option value="press">Press</option>
                <option value="net">Internet</option>
                <option value="mouth">Word of mouth</option>
            </select>
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.BillingAddressCityName)</label>
        <div class="col-md-6 col-sm-6">
            <select name="@Html.DisplayNameFor(model => model.BillingAddressCityName)" class="form-control">
                <option value="">Choose..</option>
                <option value="press">Press</option>
                <option value="net">Internet</option>
                <option value="mouth">Word of mouth</option>
            </select>
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.BillingAddressZip)</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control" name="@Html.DisplayNameFor(model => model.BillingAddressZip)" placeholder="" />
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.BillingEmailAddress)</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control email" name="@Html.DisplayNameFor(model => model.CompanyEmailAddress)" type="email" />
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.ContactName)</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control" name="@Html.DisplayNameFor(model => model.ContactName)" placeholder="" />
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">@Html.DisplayNameFor(model => model.ContactPhone)</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control number" type="number" name="@Html.NameFor(model=>model.ContactPhone)">
        </div>
    </div>

    <div class="ln_solid">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <button type='submit' class="btn btn-primary">Submit</button>
                <button type='reset' class="btn btn-success">Reset</button>
            </div>
        </div>
    </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <!-- Javascript functions	-->
    <script>
        // initialize a validator instance from the "FormValidator" constructor.
        // A "<form>" element is optionally passed as an argument, but is not a must
        var validator = new FormValidator({
            "events": ['blur', 'input', 'change']
        }, document.forms[0]);
        // on form "submit" event
        document.forms[0].onsubmit = function (e) {
            var submit = true,
                validatorResult = validator.checkAll(this);
            console.log(validatorResult);
            return !!validatorResult.valid;
        };
        // on form "reset" event
        document.forms[0].onreset = function (e) {
            validator.reset();
        };
        // stuff related ONLY for this demo page:
        $('.toggleValidationTooltips').change(function () {
            validator.settings.alerts = !this.checked;
            if (this.checked)
                $('form .alert').remove();
        }).prop('checked', false);

    </script>
}

