@model IEnumerable<QCapp.ViewModels.WorkFlowConfigurationViewModel>

@{
    ViewData["Title"] = "WorkFlow List";
    Layout = "~/Views/Shared/_LayoutIn.cshtml";
}

<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th>
                    <input type="checkbox" id="check-all" class="flat">
                </th>
                <th class="column-title">@Html.DisplayNameFor(model => model.WorkflowName) </th>
                <th class="column-title">@Html.DisplayNameFor(model => model.Indexing) </th>
                <th class="column-title">@Html.DisplayNameFor(model => model.IndexingQc) </th>
                <th class="column-title">@Html.DisplayNameFor(model => model.DataExtraction) </th>
                <th class="column-title">@Html.DisplayNameFor(model => model.DataExtractionQc) </th>
                <th class="column-title">@Html.DisplayNameFor(model => model.Checklist) </th>
                <th class="column-title">@Html.DisplayNameFor(model => model.ChecklistQc) </th>
                <th class="column-title">@Html.DisplayNameFor(model => model.Reverification) </th>
                <th class="column-title">@Html.DisplayNameFor(model => model.ReverificationQc) </th>
                <th class="column-title">@Html.DisplayNameFor(model => model.Exceptions) </th>
                <th class="column-title">@Html.DisplayNameFor(model => model.ExceptionsQc) </th>
                <th class="column-title no-link last">
                    <span class="nobr">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
            </tr>
        </thead>

        <tbody>
            @{
                int rowNo = 0;
                foreach (var item in Model)
                {
                    <tr class="@(rowNo%2 == 0 ? "even" : "odd") pointer">
                        <td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>
                        <td>@item.WorkflowName</td>
                        <td>@item.Indexing</td>
                        <td>@item.IndexingQc</td>
                        <td>@item.DataExtraction</td>
                        <td>@item.DataExtractionQc</td>
                        <td>@item.Checklist</td>
                        <td>@item.ChecklistQc</td>
                        <td>@item.Reverification</td>
                        <td>@item.ReverificationQc</td>
                        <td>@item.Exceptions</td>
                        <td>@item.ExceptionsQc</td>
                        <td class=" last">
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>

                    rowNo++;
                }
            }
        </tbody>
    </table>
</div>