@model QCapp.ViewModels.UserLoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutOut.cshtml";
}

<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="" class="h1"><b>QC</b>app</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form id="quickForm" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="input-group mb-3">
                    <input type="email" name="@Html.NameFor(model => model.Email)" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fa fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="@Html.NameFor(model => model.Password)" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fa fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            @Html.CheckBoxFor(model => model.RememberMe)
                            <label for="@Html.NameFor(model => model.RememberMe)">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <br />

            <p class="mb-1">
                <a href="forgot-password.html">I forgot my password</a>
            </p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

@section Scripts {
    <script>
        $(function () {
            $.validator.setDefaults({
                submitHandler: function () {
                    //alert("Form successful submitted!");
                    return true;
                }
            });
            $('#quickForm').validate({
                rules: {
                    @Html.NameFor(model => model.Email) : {
                        required: true,
                        email: true,
                    },
                    @Html.NameFor(model => model.Password) : {
                        required: true,
                        minlength: 5
                    },
                    @Html.NameFor(model => model.RememberMe) : {
                        required: false
                    },
                },
                messages: {
                    @Html.NameFor(model => model.Email) : {
                        required: "Please enter a email address",
                        email: "Please enter a valid email address"
                    },
                    @Html.NameFor(model => model.Password) : {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long"
                    },
                    @Html.NameFor(model => model.RememberMe) : "Please mark Remember Me"
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.input-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
}